@import url("https://fonts.cdnfonts.com/css/chicago-2");

/* NAV */

.main-nav {
  height:2.5rem;
  background-color: #D8D8D8;
  outline: 1px solid rgb(0, 0, 0);
  margin-bottom: 10px;
  filter: drop-shadow(2px 2px rgb(0, 0, 0));

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-nav {
  display: flex;
  height:100%;
}

.right-nav {
  display: flex;
}

.right-nav span {
  margin-inline:1rem;
}

.main-nav ul {
  display: flex;
  align-items: stretch;
  list-style-type: none;
  margin:0px;
  padding-left:20px;
  height:2.5rem;
  
}

.main-nav ul li {
  height: 100%;
  display: flex; 
  align-items: center; 
  padding: 0 1rem; 
}


.main-nav ul li:hover, 
.main-nav ul li a:active {
  color:#D8D8D8;
  background-color: #000; 
}

.main-nav a {
  text-decoration: none;
  /* height:100%; */
}

.main-nav img {
 margin:5px 0 0 5px;
 height:2rem;
}


.about__about-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  width: 60%;
  margin: 0 auto;
  color: black;
}

.about__about-container > * {
  flex: 1 1 0;
  min-width: 150px;
}

.about__about-container img {
  width:100%;
  object-fit: cover;
  background-color: #D8D8D8;
}




.about__box {
  display: flex;
  flex-direction: column;
  gap: 6px;
  background-color: white;
  padding: 10px;
  border: 2px solid black;
  box-shadow: 10px 10px 0px -5px rgb(0, 0, 0);
}

.about__box ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.about__box__btn {
  align-self: flex-start;
  font-size: 1rem;
  font-family: "Chicago", sans-serif;
  background-color: rgb(255, 255, 255);
  border-radius: 0.4rem;
  padding: 3px 20px;
  border: 1px solid rgb(5, 5, 5);
  box-shadow: 0px 2px 0px 1px rgb(0, 0, 0);
}

.about__box__btn :active {
  box-shadow: inset 0px 2px 0px 1px rgba(0, 0, 0, 0.7);
  font-size: calc(1rem - 2%);
}

:root {
  font-family: "Chicago", sans-serif;
  box-sizing: border-box;
  background-color: #989ACD;
}
:root a {
  color: black;
}
:root a:active {
  color: #3A3A3A;
}


body {
  padding: 0;
  margin: 0;
 
}

.main {
  position: relative;
  top: 1rem;
  width: 100%;
}

.main .window {
  min-width: 320px;
  margin: 1rem;
  background-color: #D8D8D8;
  outline: 1px solid rgb(0, 0, 0);
  padding-bottom: 10px;
  filter: drop-shadow(2px 2px #000);
}
.main .window .window__header {
  background-color: #D8D8D8;
  display: flex;
  align-items: center;
  padding-inline: 10px;
  position: relative;
  z-index: 99;
}
.main .window .window__header h2 {
  font-size: 1.1rem;
  font-style: normal;
  font-stretch: expanded;
  padding-inline: 8px;
  padding-block: 10px;
  margin: 0;
}
.main .window .window__header .btn-border-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  height: 25px;
  width: 25px;
  border: 1px solid black;
  box-shadow: -1px -1px 0px 0.1px rgba(81, 81, 81, 0.8), 1px 1px 0px 0.1px rgb(255, 255, 255);
}
.main .window .window__header .window__header__btn {
  background: rgb(255, 255, 255);
  background: linear-gradient(315deg, rgb(255, 255, 255) 0%, rgb(138, 138, 138) 100%);
  height: 25px;
  width: 25px;
  flex: 0 0 auto;
  position: relative;
}
.main .window .window__header .window__header__btn:active {
  background: rgb(255, 255, 255);
  background: linear-gradient(315deg, rgb(147, 147, 147) 0%, rgb(237, 237, 237) 100%);
}
.main .window .window__header .window__header__btn--close::before {
  content: "";
  display: inline-block;
}
.main .window .window__header .window__header__btn--expand::before {
  content: "";
  display: inline-block;
  position: relative;
  top: -7px;
  left: -7px;
  height: 10px;
  width: 10px;
  border: 1px solid black;
  box-shadow: -1px -1px 0px 0.1px rgba(81, 81, 81, 0.8), 1px 1px 0px 0.1px rgb(255, 255, 255);
}
.main .window .window__header .window__header__line-box {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  margin: 0 5px;
}
.main .window .window__header .window__header__line-box .line-box__line {
  flex-shrink: 1;
  margin: 1px;
  height: 1px;
  border: none;
  background-color: #696969;
  border-bottom: 1px solid rgb(241, 241, 241);
}
.main .window .window__body {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  background-color: white;
  margin: 0 10px;
  position: relative;
  top: -1px;
  padding: 1.2rem;
  box-shadow: inset 0px -1px 1px 0px rgba(0, 0, 0, 0.5), inset 0px -1px 1px 0px rgba(0, 0, 0, 0.5), inset 1px 0px 1px 0px rgba(0, 0, 0, 0.5), inset -1px 0px 1px 0px rgba(0, 0, 0, 0.5);
}
.main .window .window__body h3 {
  font-size: 1.5rem;
  align-self: center;
  justify-self: center;
}
.main .window .window__body p {
  font-size: 1rem;
  margin: 0;
  line-height: 1.5rem;
}

@media (min-width: 600px) {
  .main .window {
    margin: 3rem;
  }
}



