@import url('https://fonts.cdnfonts.com/css/chicago-2');

$clr-background-accent: #989ACD;
$clr-background-grey:#D8D8D8;
$clr-lighter-grey:#D9D9D9;
$clr-dark-grey:#3A3A3A;
$clr-pure-white:#fff;
$clr-pure-black:#000;

body {
    font-family: 'Chicago', sans-serif;
    padding:0;
    margin:0;
    min-height:100dvh;
    width:100%;

   
}
 
main {
   background-color: $clr-background-accent;
   min-height:100dvh;
   width:100%;
   padding:30px 0; // created some weird overflow
  
   

   .window {
    margin:0 1rem;
    background-color: $clr-background-grey;
    outline:1px solid rgb(0, 0, 0);
    padding-bottom:10px;
    filter: drop-shadow(2px 2px $clr-pure-black);

   .window__header {
        background-color: $clr-background-grey;
        display: flex;
        align-items: center;
        padding-inline:10px;

        // make sure it stays on top of window__body
        position: relative;
        z-index: 99;
       

        h2 {
            font-size: 1.1rem;
            font-style: normal;
            font-stretch: expanded;
            padding-inline:8px;
            padding-block:10px;
            margin:0;
        }

    .btn-border-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 99;
        height:25px;
        width:25px;
        border:1px solid black;
        box-shadow: 
             -1px -1px 0px 0.1px rgba(81, 81, 81, 0.8),
             1px 1px 0px 0.1px rgb(255, 255, 255),
        ;     
    }

     .window__header__btn {
        background: rgb(255,255,255);
        background: linear-gradient(315deg, rgba(255,255,255,1) 0%, rgb(105, 105, 105) 100%);
        height:25px;
        width:25px;       
        flex: 0 0 auto;
        position: relative;
       

        &--close {
            &::before {
                content:'';
                display: inline-block;
            }
        }

        &--expand {
            &::before {
                content:'';
                display: inline-block;
                position: relative;
                top:-7px;
                left:-7px;
                height:10px;
                width:10px;
                border:1px solid black;
                box-shadow: 
                -1px -1px 0px 0.1px rgba(81, 81, 81, 0.8),
                1px 1px 0px 0.1px rgb(255, 255, 255);    
                
            }
        }
    }

    .window__header__line-box {
        display: flex;
        flex:1;
        flex-direction: column;
        width:100%;
        margin:0 5px;
        
        .line-box__line {
            flex-shrink: 1;
            margin:1px;
            height:1px;
            border:none;
            background-color: #696969;
            border-bottom: 1px solid rgb(241, 241, 241);

        }

    }    
   }

   .window__body {
    display: flex;
    align-items: center;
    justify-content: center;
    border:2px solid black;
    background-color: white;
    min-height:30vh;
    height:100%;
    margin:0 10px;
    position: relative;
    top:-1px;
    padding:10px;
                    
    box-shadow: 
                // Y-axis
                inset 0px -1px 1px 0px rgba(0, 0, 0, 0.5),
                inset 0px -1px 1px 0px rgba(0, 0, 0, 0.5),
                //X-axis
                inset 1px 0px 1px 0px rgba(0, 0, 0, 0.5),
                inset -1px 0px 1px 0px rgba(0, 0, 0, 0.5);


   
   }
}
}


@media (min-width:600px) {

    main {

        .window {
            margin:0 3rem;
           
        }
        
    }
}